
  <h1><%=@booking.au_pair.first_name %></h1>
   <h2><%=@booking.au_pair.last_name %></h2>
  <p><%=@booking.au_pair.nationality%></p>
     <p><%= @booking.au_pair.gender %></p>
<%= link_to 'liste des bookings', bookings_path, class: 'btn btn-primary' %>

