<div class="banner">
  <div class="banner-content">
      <h1>BUTRFLY</h1>
      <p>"We match the right au pair with the right family"</p>
  </div>

  <div class= "container-search text-center">
    <h2>What are you looking for?</h2>
    <%= simple_form_for :search, url: au_pairs_path, method: :get, html: { class: "form-inline" } do |f| %>
      <%= f.input :gender, label: false, prompt: "Gender",
      collection: ["female", "male"], required: true %>
    <%= f.input :nationality, label: false, prompt: "Nationality",
      collection: ["Albanie", "Allemagne", "Andorre", "Autriche-Hongrie", "Belgique", "Bulgarie", "Danemark", "Espagne", "France", "Grèce", "Italie", "Liechtenstein", "Luxembourg", "Monaco", "Monténégro", "Norvège", "Pays-Bas", "Portugal", "Roumanie", "Royaume-Uni", "Russie", "Serbie", "Suède", "Suisse"], required: true %>
      <%= f.submit "Find", :class => "btn" %>
    <% end %>
  </div>
</div>

<div class='container-google-maps'>
  <div id="map" class="col-xs-6" style="width: 50%; height: 600px;"></div>
      <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
                handler.getMap().setZoom(4);
            });
          });
      <% end %>
  <% end %>
  <div style="width: 50%;">
    <h1><strong> Look at all the available Au Pairs through the world!</strong> They are all waiting for a wonderful Host Family like yours.</h1>
    <h1> So travel virtually on our map and choose your Au pair according to your dreams!</h1>
    <h1><strong> Click and see her full profile! Game is on!</strong></h1>
  </div>
</div>


  <div class="container-home text-center padded features">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
      <%= image_tag("Amelie_Poulain.png") %>
        <h2>Tell us about you</h2>
        <p>Please sign up for us to help you out!</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag("Crane.png") %>
        <h2>Select your preferences</h2>
        <p>Through 3 clicks, you could access the matching Au Pair profiles</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag("Travis.png") %>
        <h2>Chose your favorite</h2>
        <p>Click on a profile and book.</p>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag("Trust.png") %>
        <h2>Welcome your Au Pair </h2>
        <p>Live a new experience and give your family the opportunity to open his mind</p>
      </div>
    </div>
  </div>

  <div class="homeContainer1">
  <div class="home_content" style="background:none;text-align:center" >
    <h2>Au Pair Definition -  Who is an Au Pair? What is a Host Family?</h2>
    <br>
    <img class="homeImageBox" alt="Au Pair Definition" style="float:right" src=<%= image_path('girlandchild.jpg')%>/>


  <div style="line-height:28px;">
    An Au Pair is a young person willing to go abroad to spend a certain time with a native family. During this time he/she can learn or improve language skills and get to know a new culture.&nbsp;Au Pair Meaning: The French term &quot;au pair&quot; translates as &quot;on equal terms&quot;. Both parties&nbsp;share their responsibilities. This term has become the main idea of the&nbsp;program. The main responsibility of the Au Pair is to care of the children.</div>
    <br>
    <a href="/users/sign_up" class="navbar-wagon-button" id="Aupair">Sign up</a>
  </div>
</div>

</div>
