

<div class="banner" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/aupair-family.jpg');">
  <div class="banner-content text-center">
    <h1>BUTRFLY</h1>
    <p>"We match the right au pair with the right family"</p>
  </div>
</div>

    <h2>What are you looking for?</h2>
      <p>Search</p>



      <%= simple_form_for :search,  url: au_pairs_path , :method => :get do |f| %>
      <%= f.input :gender, collection: ["female", "male"], required: true %>
      <%= f.input :nationality, collection: ["Albanie", "Allemagne", "Andorre", "Autriche-Hongrie", "Belgique", "Bulgarie", "Danemark", "Espagne", "France", "Grèce", "Italie", "Liechtenstein", "Luxembourg", "Monaco", "Monténégro", "Norvège", "Pays-Bas", "Portugal", "Roumanie", "Royaume-Uni", "Russie", "Serbie", "Suède", "Suisse"] %>
      <%= f.submit "Search" %>

    </div>
      <% end %>

    <div class="container text-center padded features">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
        <%= image_tag("Amelie_Poulain.png") %>
          <h2>Tell us about you</h2>
          <p>Please sign up for us to help you out!</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag("Crane.png") %>
          <h2>Select your preferences</h2>
          <p>Through 3 clicks, you could access the matching Au Pair profiles</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag("Travis.png") %>
          <h2>Chose your favorite</h2>
          <p>Click on a profile and book.</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= image_tag("Trust.png") %>
          <h2>Welcome your Au Pair </h2>
          <p>Live a new experience and give your family the opportunity to open his mind</p>
        </div>
      </div>
    </div>
