
<div class="container">
  <h1>Listing of your search</h1>
  <div class="row">
    <% @aupairs.each do |aupair| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">
        <div class="card-category">
          <%= aupair.last_name %>
        </div>
        <div class="card-description">
          <h2><%= aupair.first_name %></h2>
          <p><%= aupair.gender %></p>
          <p><%= aupair.nationality %></p>
        </div>
        <div class="card-user">
          <%= image_tag "téléchargement.jpeg", class: "avatar-bordered" %>
        </div>
        <%= link_to 'Let me see', au_pair_path(aupair), class: 'card-link' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
