<h1 class= "text-center">Listing of your search</h1>
<div class="container-index">
  <div class="row">
    <% @aupairs.each do |aupair| %>
    <div class="col-xs-12 col-md-6">
      <div class="card-aupair">
      <%= image_tag "aupair.jpg", class: "card-user-picture avatar-aupair" %>
      <%= link_to '', au_pair_path(aupair), class: 'card-link-aupair' %>
      <div class="card-category-pair">
        <div class="list-inline">
          <li><i class="fa fa-venus" aria-hidden="true"></i></li>
          <li><h2><%= aupair.first_name %></h2></li>
          <li><p><%= aupair.nationality %></p></li>
        </div>
      </div>

      <div class="card-description-pair"> #fixec height et text overflow elipsis
        <p>"<%= aupair.description %>"</p>
        <div class="list-inline">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
      </div>

      </div>
    </div>
    <% end %>
  </div>
</div>
