<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>BUTRFLY</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Playfair+Display:400,700" rel="stylesheet">
  </head>

    <body>
      <%= render 'layouts/navbar' %>
      <%= render 'shared/flashes' %>
      <%= yield %>

      <%= render 'layouts/footer' %>
    </body>
  </div>
</html>
